# For pintia.cn (Optional, used by reliableTodolist.js)
PINTIA_EMAIL=your_email@example.com
PINTIA_PASSWORD=your_pintia_password

# For DingTalk notification(Optional)
ENABLE_DINGTALK=true # set to anything except "true" to disable
DINGTALK_WEBHOOK="https://oapi.dingtalk.com/robot/send?access_token=your_access_token"
DINGTALK_SECRET="SECyour_secret_token"